@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
html{
	scroll-behavior:smooth;
}
body{
	font-family: "Fira Sans", sans-serif;
	letter-spacing: 0.025em;
	background: #f2f2f4;
}
.wrapper {
	min-height: 100%;
	overflow:hidden;
	width:100%;
	display: flex;
	flex-direction: column;
}

[class*="__container"] {
	max-width: 1176px;
	margin: 0 auto;
	padding: 0 15px;
}

.breadcrumbs {
	&__container {
		display: flex;
		margin-top: 31px;
	}
	&__item {
		margin-right: 30px;
		font-weight: 400;
		color: #3f3f42;
		font-size: 13px;
		& a{
			color: #4960a8;;	
		}	
		&:first-child{
			position: relative;
			&:after{
				content:''; 
				position:absolute; 
				right: -15px; 
				bottom: 5.3px;
				transform: rotate(-45deg); 
				width: 3px; 
				height: 1px;
				background: #4960a8;
			}
			&:before{
				content:''; 
				position:absolute; 
				right: -15px; 
				top: 5px;
				transform:rotate(45deg); 
				width: 3px; 
				height: 1px;
				background: #4960a8;
			}			
		}
	}
}
.pickup {
	&__container {
		margin-bottom: 30px;
	}
	&__body{
		max-width: 1050px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media(max-width: 840px){
			flex-direction: column;
		}
	}
	&__content {}
	&__title {
		position: relative;
		font-size: 60px;
		line-height: 70px;
		font-weight: 700;
		text-transform: uppercase;
		color: #5160a4;	
		& p{
			position: absolute; right: -30px; top: -125px; width: 120px;height: 120px;
			background: url('../img/dec.png') 0 0/cover no-repeat;
			& span{
			position: absolute; right: -48px; top: 68px; width: 85px;height: 86px;
			background: url('../img/decsmall.png') 0 0/cover no-repeat;				
			}
		}	
		@media(max-width: 840px){
			margin-top: 50px;
			& p{
				top: -80px;
				right: -50px;
				z-index: -1;
			}
		}		
		@media(max-width: 552px){
			font-size: 46px;
			margin-top: 35px;
			& p{
				width: 70px;
				height: 70px;
				top: -20px;
				right: -10px;
			}
			& span{
				display: none;
			}
		}			
	}
	&__subtitle {
		font-size: 21px;
		line-height: 30px;
		font-weight: 300;
		color: #3f3f42;	
		@media(max-width: 840px){
			margin-bottom: 50px;
		}		
		@media(max-width: 552px){
			font-size: 18px;
			margin-bottom: 30px;
		}				
	}
	&__image {
		max-width: 418px;
		& img{
			max-width: 100%;
		}
	}
}
.chooseloc {
	background-color: #ffffff;
	&__container{
		padding-right: 35px;
	}
	&__body{
		min-height: 140px;
		max-width: 1070px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media(max-width: 840px){
			flex-direction: column;
			justify-content: center;
			padding: 20px 15px;
		}	
		@media(max-width: 536px){
			padding: 5px 0px;
			min-height: 120px;
		}					
	}
	&__title {
		font-size: 48px;
		line-height: 48px;
		font-weight: 500;
		color: #5160a4;
		padding-left: 70px;
		position: relative;
		@media(max-width: 840px){
			margin-bottom: 20px;
		}					
		&:before{
			content:'';
			position: absolute; 
			left: 0;
			top:50%;
			transform:translate(0, -50%);
			width: 42px;
			height: 70px;
			background: url('../img/loc.png') 0 0/cover no-repeat;
		}
		@media(max-width: 536px){
			padding-left: 40px;
			font-size: 28px;
			line-height: 35px;
			margin-bottom: 15px;
			&:before{
				width: 25px;
				height: 40px;
			}
		}		
	}
	&__select {
		font-size: 36px;
		font-weight: 300;
		letter-spacing: 0.05em;
		color: #003690;		
		border:0px;
		outline: none;
		@media(max-width: 536px){
			font-size: 26px;
		}			
	}
}
.graphic {
	position: relative;
	&__container {
		position: relative;
		margin-top: 70px;
		&>img{
			z-index: -1;
			position: absolute; left: -7%; top:50%; transform:translate(0, -50%); width: 120%;height: 70px;
		}
		@media(max-width: 978px){
			margin-top: 40px;
			&>img{
				display: none;
			}
		}			
	}
	&__body {
		max-width: 1087px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media(max-width: 978px){
			flex-direction: column;
		}	
	}
	&__job {
		padding: 41px 36px 27px 38px;
		background-color: #fdfdfd;
		box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.05);
		border-radius: 48px;	
		@media(max-width: 978px){
			width: 100%;
		}				
	}
	&__image {}
}
.job-graphic {
	&__top {
		display: flex;
		justify-content: space-between;
		@media(max-width: 446px){
			flex-direction: column-reverse;
			align-items: center;
		}				
	}
	&__content {}
	&__title {
		font-size: 24px;
		line-height: 30px;
		font-weight: 700;
		color: #5160a4;
		margin-bottom: 23px;
	}
	&-info{
		display: flex;
	}
	&__item {
		font-size: 16px;
		line-height: 20px;
		font-weight: 500;
		letter-spacing: 0.05em;
		color: #727272;

		&-time{
			font-weight: 400;
			color: #3a3a3a;
		}
		&-days{
			display: flex;
			flex-direction: column;
			align-items: end;			
			position: relative;
			margin-right: 24px;
			&:after{
				content:'';
				width: 1px;
				height: 54px;
				right: -11.5px;
				top: 0;
				background: #959698;
				position: absolute;
			}
		}

	}
	&__img {
		position: relative;
		z-index: 3;
		margin-right: 25px;
		& img:last-child{
			position: absolute; 
			right: -32px; 
			top: 3px; 
			width: 67px;
			height: 67px;
			z-index: -1;
		}
	}
	&__bottom {
		display: flex;
		margin-top: 35px;
		align-items: center;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 400;
		font-style: italic;
		color: #727272;
		max-width: 469px;
		& img{
			margin-right: 18px;
		}
	}
}
.image-graphic {
	margin-left: 55px;
	padding: 15px 15px 40px 45px;
	background-color: #fdfdfd;
	box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.05);
	@media(max-width: 978px){
		margin-left: 0;
		margin-top: 40px;
		width: 100%;
	}	
	@media(max-width: 446px){
		padding: 15px;
	}		
	&__text {
		margin-left: -30px;
		display: flex;
		align-items: start;
		color: #727272;
		font-size: 13px;
		line-height: 1.4;
		font-weight: 300;		
		max-width: 510px;
		@media(max-width: 978px){
			max-width: 100%;
		}
		@media(max-width: 446px){
			margin-left: 0;
		}						
		& img{
			margin-right: 15px;
			width: 15px;
			height: 25px;
		}
		margin-bottom: 15px;
	}
	&__map {
		max-width: 100%;
		height: 298px;
		position: relative;
		& iframe{
			position: absolute; left: 0; top: 0; width: 100%;height: 100%;
		}
	}
}

.documents {
	&__container {
		margin-top: 100px;
		margin-bottom: 37px;
		@media(max-width: 1066px){
			margin-top: 50px;
		}
	}
	&__body {
		max-width: 1106px;
	}
	&__title {
		font-size: 48px;
		line-height: 48px;
		font-weight: 500;
		color: #5160a4;	
		margin-bottom: 33px;	
		@media(max-width: 514px){
			font-size: 32px;
			line-height: 34px;
		}
	}
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: start;	
		@media(max-width: 1066px){
			flex-direction: column;
		}			
	}
	&__data {
		display: flex;
		flex-direction: column;
		margin-top: 33px;
		@media(max-width: 1066px){
			margin-top: 0px;
		}			
	}
	&__downloads {
		display: flex;
		max-width: 525px;
		align-items: center;
		justify-content: space-between;
		@media(max-width: 514px){
			flex-direction: column;
			align-items: start;
			& a{
				margin-bottom: 15px;
			}
		}			
		& a{
			font-size: 14px;
			line-height: 1.2;
			font-weight: 400;
			color: #20398c;			
			& img{
				margin-right: 10px;
			}
		}
	}
	&__info {
		display: flex;
		align-items: center;
		max-width: 448px;
		min-height: 87px;
		background-color: #fdfdfd;
		box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.05);
		border-radius: 24px;		
		padding: 17px 24px;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 400;
		font-style: italic;
		color: #727272;
		& img{
			margin-right: 26px;
		}
		@media(max-width: 1066px){
			max-width: 100%;
			margin-top: 50px;
			margin-bottom: 60px;
		}		

	}
	&__original {
		display: flex;
		align-items: start;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 400;
		color: #3f3f42;		
		max-width: 545px;
		margin-bottom: 35px;
		& img{
			margin-right: 20px;
		}
		@media(max-width: 514px){
			margin-bottom: 25px;
			& img{
				margin-right: 10px;
			}			
		}		
	}
	&__passport {
		display: flex;
		align-items: start;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 400;
		color: #3f3f42;		
		max-width: 200px;
		margin-top: 50px;			
		& img{
			margin-right: 20px;
		}	
		@media(max-width: 514px){
			margin-top: 25px;
			& img{
				margin-right: 10px;
			}
		}			
	}	
}



.travel {
	&__container {
		margin-bottom: 93px;
		@media(max-width: 504px){
			margin-bottom: 50px;
		}			
	}
	&__body {
		max-width: 1145px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media(max-width: 1292px){
			flex-direction: column-reverse;
		}
	}
	&__content {
		background-color: #fdfdfd;
		box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.05);
		border-radius: 64px;
		padding: 38px 33px 38px 97px;
		position: relative;
		align-self: end;
		& img{
			position: absolute; 
			left: 0%; 
			top: 0%; 
			transform:translate(-30%,-30%);
			width: 126px;
			height: 126px;
			@media(max-width: 504px){
				width: 75px;
				height: 75px;
			}				
		}
		margin-right: 8px;
		@media(max-width: 1292px){
			margin-right: 0;
			align-self: start;
			margin-top: 50px;
			margin-left: 25px;
		}		
		@media(max-width: 504px){
			margin-left: 15px;
			padding: 25px;
			padding-left: 50px;
		}			
	}
	&__title {
		font-size: 24px;
		line-height: 30px;
		font-weight: 700;
		color: #5160a4;
		margin-bottom: 25px;
		& span{
			color: #df6f63;
		}
	}
	&__list {}
	&__link {
		position: relative;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 400;
		color: #727272;		
		padding-left: 30px;
		margin-bottom: 22px;
		&:last-child{
			margin-bottom: 0;
		}
		&:after{content:''; 
			position:absolute; 
			left: 0; 
			top:6px; 
			width: 15px;
			height: 5px;
			background-color: #df6f63;
		}
	}
	&__img {
		position: relative;
		@media(max-width: 1292px){
			margin-top: 30px;
		}			
		@media(max-width: 504px){
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: -50px;
		}			
		& span{
			position: absolute;
			font-size: 28.9px;
			line-height: 38px;
			font-weight: 500;
			color: #7285db;
			top: -70px;
			left: -70px;
			transform:rotate(-7deg);
			@media(max-width: 504px){
				position: static;	
				transform:rotate(0deg);	
				margin-bottom: 20px;	
				text-align: center;
				font-size: 23px;
			}				
		}
		& p{
			position: absolute;
			bottom: -20px;
			right: -65px;
			max-width: 180px;
			font-size: 28.9px;
			line-height: 38px;
			font-weight: 500;
			color: #7285db;
			text-align: center;
			transform:rotate(-7deg);
			@media(max-width: 504px){
				position: static;	
				transform:rotate(0deg);	
				margin-top: 20px;
				max-width: 100%;
				text-align: center;	
				font-size: 23px;
			}					
		}		
		& img{
			@media(max-width: 504px){
				max-width: 100%;
			}
		}
	}
		
}



